.modal-footer {   border-top: 0px; }

a:link, a:visited {
	text-decoration: none;
	
	}
a:hover {
	text-decoration: underline; 
	color: #f00
	}
a:active {
	text-decoration: none
	}
	
.nome {
	color: white;
}
	
.fundo {
	background: url(http://i.huffpost.com/gen/1398417/images/o-TRAVELINGMAPS-facebook.jpg);
}

/* Margens */
.marginBottom10 {
	margin-bottom: 10px;
}

.marginBottom20 {
	margin-bottom: 20px;
}

.fontePerfil {
	color: #FFFFFF;
	padding: 10px;
}

.marginTop10 {
	margin-top: 10px;
}

.marginTop20 {
	margin-top: 20px;
}

.imgBonito{
	background: ../img/bonito.jpg;
	width: 100px;
}

.logotipo {
	font-size: 25px;
	text-align: center;
	margin-bottom: 20px;
}

.manutBg {
	background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS3LvIAjCmp84Dwxsqmh__mNcvSLZnBQzcOEuH8GIWxJvRugLcp");
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    padding: 11%;
}

.manutFont {
	background: white;
	text-align: center;
	font-size: 40px;
	font-family: 'Orbitron', sans-serif;
	margin: 0 auto;
	margin-top: 80px;
}

/* Fonte ~ http://codepen.io/jdniki/pen/azgvgd */
@import url(http://fonts.googleapis.com/css?family=Lobster);
/* body{
  	background:#444;
} */
#letterpress{
	margin: 0 auto;
	margin-bottom: 20px;
	text-shadow: 0px 2px 1px #777 , 0px -4px 2px #000;
	color: #222;
	font-size: 60px;
  	font-family: 'Lobster', cursive;
  	text-align: center;
}

.btnVoltar {
	width: 80px;
	margin: 0 auto;
}

.tamanhoFoto {
	height: 200px;
	width: 200px;
	border-radius: 5px;
}